<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" 
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="container px-0 py-lg-10">
      <div class="mb-4 rounded-3 position-relative">
        <picture>
          <source media="(min-width: 992px)" srcset="../assets/images/L5Hiixe6.jpeg" />
          <img src="../assets/images/L5Hiixe6.jpeg" alt="" class="w-100" />
        </picture>
        <div class="banner-title text-lg-end text-end w-100 
                    position-absolute top-50 end-50 translate-middle-y">
          <h1>背上背包 說走就走</h1>
        </div>
      </div>
    </section>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
